* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f2f2f2;

}

nav {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #1b8b1b;
}

nav h2 {
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px 15px;
    font-weight: 700;
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: center;
    height: 80vh;
}

.register {
    width: 800px;
    height: 450px;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    border: 2px solid #1b8b1b;
    border-top: none;
    box-shadow: 15px 5px 30px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.addUser {
    color: #1b8b1b;
    text-align: center;
    background: transparent;
    border-bottom: 2px solid #1b8b1b;
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
}

.addUser span{
    color: #0b2b53;
}
.registerform-extra {
    color: #ffffff;
    padding: 25px;
    padding-top: 0px;

    grid-row: 3 / span 4;
    grid-column: 1 / span 2;
}

.registerform-main {
    color: #ffffff;
    padding: 25px;
    padding-top: 0px;

    grid-row: 3 / span 4;
    grid-column: 3 / span 2;
}

.inputbox {
    border-radius: 3px;
    background: transparent;
    outline: none;
    border: 1px solid #1b8b1b;
    width: 100%;
    height: 35px;
    margin: 30px 0;
    background: white;
}

.inputbox input {
    background: transparent;
    width: 90%;
    outline: none;
    border: 0;
    padding-left: 5px;
    height: 100%;
}

::placeholder {
    color: #04140e;
}

button {
    border: 1px solid #1b8b1b;
    border-radius: 3px;
    padding: 12px;
    font-size: 18px;
    background: #fff;
    color: #04140e;
    cursor: pointer;

    grid-row: 8;
    grid-column: 2 / span 2;
}

button:hover {
    background-color: #cccccc;
    transition: all ease 0.5s;
}

i {
    color: #04140e;
    font-size: 15px;
    padding: 6px;
}

.extras {
    display: flex;
    justify-content: center;

    grid-row: 9;
    grid-column: 2 / span 2;
}

.extras a {
    color: #04140e;
    font-size: 12px;
    margin: 10px 20px;
}



